<div id="main_logo">
  <%=image_tag("dplmts", alt: "dplmts")%>
</div>

<div class="container">
  <div class="categories">
    <ul>
      <li class="glitch" data-text="ARTISTS">ARTISTS</li>
      <li class="glitch" data-text="RELEASES">RELEASES</li>
      <li class="glitch" data-text="PODCASTS">PODCASTS</li>
      <li class="glitch" data-text="EVENTS">EVENTS</li>
      <li class="glitch" data-text="PLAYLISTS">PLAYLISTS</li>
    </ul>
  </div>
</div>
