<div id="main_logo">
  <%=image_tag("dplmts", alt: "dplmts")%>
</div>

<div class="container">
  <div class="categories">
    <ul>
      <li>ARTISTS</li>
      <li>RELEASES</li>
      <li>PODCASTS</li>
      <li>EVENTS</li>
      <li>PLAYLISTS</li>
    </ul>
  </div>
</div>
