<div class="landing-page">
  <div id="main_logo">
    <%= image_tag("dplmts.jpeg") %>
  </div>

  <div class="container">
    <div class="categories">
      <ul>
        <li class="glitch" data-text="ARTISTS"> <a href="#artists"> ARTISTS</a> </li>
        <li class="glitch" data-text="RELEASES"> <a href="#releases"> RELEASES</a> </li>
        <li class="glitch" data-text="PODCASTS">PODCASTS</li>
        <li class="glitch" data-text="EVENTS">EVENTS</li>
        <li class="glitch" data-text="PLAYLISTS">PLAYLISTS</li>
      </ul>
    </div>
    <div class="line">
    </div>
  </div>
</div>

<div class="container" id="artists">
  <div class="card-dj">
    <img class="img-dj" src="https://imgproxy.ra.co/_/quality:100/plain/https://static.ra.co/images/profiles/lg/ayman.jpg?dateUpdated=1565626648000" alt="ayman">
    <div class="dj-infos">
      <h2>AYMAN</h2>
      <div class="social-links">
        <a class="fab fa-spotify" href="https://open.spotify.com/artist/6Yg2H63mK9PQ4XCmPCwXB3" target="_blank"></a>
        <a class="fab fa-soundcloud" href="https://soundcloud.com/aymanmusic" target="_blank"></a>
        <a class="fab fa-instagram" href="https://instagram.com/aymanmusic/" target="_blank"></a>
        <a class="fab fa-facebook" href="https://www.facebook.com/itsaymanmusic" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="small-line">
  </div>
  <div class="card-dj">
    <img class="img-dj" src="https://ra.co/images/profiles/square/mariedayeh.jpg?dateUpdated=1571920353000" alt="marie">
    <div class="dj-infos">
      <h2>MARIE</h2>
      <div class="social-links">
        <a class="fab fa-spotify"></a>
        <a class="fab fa-soundcloud" href="https://soundcloud.com/mariedayehmusic" target="_blank"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/mariedayehmusic/" target="_blank"></a>
        <a class="fab fa-facebook" href="https://www.facebook.com/mariedayehmusic" target="_blank"></a>
      </div>
    </div>
  </div>
  <div id="releases">
  </div>
  <div id="podcasts">
  </div>
  <div id="events">
  </div>
  <div id="playlists">
  </div>
</div>
