.card-dj {
  display: flex;
  justify-content: space-between;
  margin: 80px 16px;
}

.img-dj {
  height: 400px;
  width: 500px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}


// .dj-infos {
//   // align-items: center;
//   // display: flex;
//   // flex-direction: column;
// }
